::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar {
    height: 86px;
  }
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: 600;
}

.offcanvas-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.login-container {
  background-color: var(--alabaster-50);
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  padding: 0 10rem;
  position: absolute;
  width: 100%;
  width: 700px;
  z-index: 10;
}
@media (max-width: 700px) {
  .login-container {
    padding: 0 2rem;
    width: 100%;
  }
}
.login-container > a:first-child {
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 0.8rem;
  left: 32px;
  position: absolute;
  top: 32px;
}
.login-container h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  margin: 0;
}
.login-container h2 span {
  color: var(--felix-500);
}
@media (max-width: 700px) {
  .login-container h2 {
    font-size: 1.6rem;
  }
}
.login-container button {
  background-color: var(--felix-500);
  border-radius: 0.6rem;
  border: none;
  color: inherit;
  color: var(--alabaster-50);
  font-weight: 600;
  padding: 0.4rem 1.8rem;
  transition: all 0.8s;
  width: 100%;
}
.login-container button:hover {
  background-color: var(--san-felix-500);
  color: #fff;
}
.login-container button:active {
  background-color: var(--san-felix-600);
}
.login-container button:focus {
  outline: none;
}
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.login-container p {
  margin: 0;
}
.login-container a {
  color: var(--felix-500);
  font-weight: 600;
  text-decoration: none;
}

:root {
  --alabaster-50: #fafafa;
  --alabaster-100: #efefef;
  --san-felix-0: #ffffff;
  --san-felix-50: #ebffe5;
  --san-felix-100: #d1ffc7;
  --san-felix-200: #a6ff95;
  --san-felix-300: #6ffe58;
  --san-felix-400: #40f526;
  --san-felix-500: #1edb07;
  --san-felix-600: #11af01;
  --san-felix-700: #0f8506;
  --san-felix-800: #11650b;
  --san-felix-900: #12580f;
  --san-felix-950: #033102;
  --felix-500: #22A948;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.main {
  margin-top: 56px;
}
@media (min-width: 992px) {
  .main {
    margin-top: 86px;
  }
}

.home-container {
  min-height: 72vh;
  padding: 4rem 0;
}
.home-container img {
  height: auto;
  width: 90px;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--felix-500);
  overflow: hidden;
}
.main-container > img {
  min-width: 40%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.footer-container {
  background-color: var(--felix-500);
  width: 100%;
  padding: 2.4rem;
}
.footer-container div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
}
.footer-container div img {
  width: 100px;
  height: auto;
}
.footer-container div p {
  color: white;
  margin: 0;
}

.profile-container {
  display: flex;
  gap: 6rem;
  width: 100%;
}
.profile-container > div img {
  height: auto;
  width: 200px;
}
.profile-container > form {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
