<div class="container-block">

  <div class="container-block__card animate__animated animate__backInUp">

    <h2 class="container-block__title text-center">Welcome</h2>

    <form onsubmit="event.preventDefault();">
      <div class="form-group">
        <label class="container-block__label">Email</label>
        <input class="form-control w-100 mb-3" placeholder="Enter email" id='email' />
      </div>
      <div class="form-group">
        <label class="container-block__label">Password</label>
        <input type="password" placeholder="Enter password" class="form-control w-100 mb-3" id='password' />
      </div>
      <button class="container-block__btn mb-3" onclick='verificacion()'>Login</button>
      <div class="d-flex gap-2">
        <p class="container-block__p">Don't have an account yet?</p>
        <a class="container-block__a" href="/registro">Sign up</a>
      </div>
    </form>

  </div>

</div>

<script>
  const verificacion = async () => {
    const email = document.getElementById('email').value
    const password = document.getElementById('password').value
    const payload = { email, password }

    try {
      const { data: token } = await axios.post('/verify', payload);
      alert(`Autenticación exitosa!`);
      // concat token url
      window.location.href = `/datos?token=${token}`

    } catch ({ response }) {
      const { data } = response
      const { error } = data
      alert(error);

    }
  }
</script>
