<div class="container-block">
  <div class="container-block__card animate__animated animate__backInUp">
    <h2 class="container-block__title text-center">Sign up</h2>
    <form method='POST' enctype='multipart/form-data' action='http://localhost:3000/registrar'>
      <div class="form-group">
        <label class="container-block__label">Name</label>
        <input class="form-control m-auto mb-3" id='nombre' name='nombre' required placeholder="Enter your name" />
      </div>
      <div class="form-group">
        <label class="container-block__label">Email</label>
        <input class="form-control m-auto mb-3" id='email' name='email' required placeholder="Enter your email" />
      </div>
      <div class="form-group">
        <label class="container-block__label">Password</label>
        <input type="password" class="form-control m-auto mb-3" id='password' name='password' required
          placeholder="Enter your password" />
      </div>
      <div class="form-group">
        <label class="container-block__label">Reenter Password</label>
        <input type="password" class="form-control m-auto mb-3" id='password-2' name='password_2' required
          placeholder="Reenter your password" />
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="container-block__label">Experience</label>
          <input class="form-control m-auto mb-3" id='anhos' name='anhos' required
            placeholder="Enter your experience" />
        </div>
        <div class="form-group col-6">
          <label class="container-block__label">Skill</label>
          <input class="form-control m-auto mb-3" id='especialidad' name='especialidad' required
            placeholder="Enter your skill" />
        </div>
      </div>
      <div class="form-group">
        <label class="container-block__label">Profile Photo</label>
        <input class="form-control mb-3" type="file" name='foto' id='foto' required />
      </div>
      <button type='submit' class="container-block__btn mb-3">Sign up</button>
      <div class="d-flex gap-2">
        <p class="container-block__p">Already have an account?</p>
        <a class="container-block__a" href="/login"> Log in</a>
      </div>
    </form>
  </div>
</div>
