<div class="login-container animate__animated animate__slideInLeft">
  <a href="/">
    <i class="fa-sharp fa-solid fa-chevron-left"></i>
    <p>Back</p>
  </a>
  <h2>Join us on <span>TrickTrack</span></h2>

  <form method='POST' enctype='multipart/form-data' action='http://localhost:3000/register_user'>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" id='name' name='name' placeholder="Enter your name" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" id='email' name='email' placeholder="Enter your email" />
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label>Password</label>
        <input type="password" class="form-control" id='password' name='password' placeholder="Enter your password" />
      </div>
      <div class="form-group col-6">
        <label>Reenter Password</label>
        <input type="password" class="form-control" id='password-2' name='password_2'
          placeholder="Reenter your password" />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label>Experience</label>
        <select class="form-control" id='experience' name='experience' placeholder="Enter your skill">
          <option value="" disabled selected>Select a experience</option>
          {{#each experience}}
          <option value="{{this}}">
            {{this}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group col-6">
        <label class="container-block__label">Skills</label>
        <select class="form-control" id='skill' name='skill' placeholder="Enter your skill">
          <option value="" disabled selected>Select a skill</option>
          {{#each skills}}
          <option value="{{this}}">
            {{this}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Profile Photo</label>
      <input class="form-control" type="file" name='photo' id='photo' />
    </div>
    <button type='submit'>Sign up</button>

    <p>Already have an account? <a href="/signin">Sign in</a></p>
</div>
</form>

</div>


<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData(form);

    try {
      const response = await fetch('http://localhost:3000/register_user', {
        method: 'POST',
        body: formData
      });

      const result = await response.json();

      if (result.success) {
        Swal.fire({
          icon: 'success',
          title: 'Éxito',
          text: result.message,
          showConfirmButton: false,
          timer: 1500
        }).then(() => {
          window.location.href = '/signin';
        });
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: result.message
        });
      }
    } catch (error) {
      console.error('Error de red:', error);
    }
  });
</script>
