<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Photo</th>
            <th scope="col">Name</th>
            <th scope="col">Experience</th>
            <th scope="col">Skill</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody id="body">

    </tbody>
</table>
